{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}    {% endblock%}
    </title>
    <link rel="stylesheet" href="{% static "app/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static 'app/css/bootstrap.css.map' %}">

    {% block styles %}
    
    {% endblock %}
</head>
<body>
    
    {% block content %}

    {% endblock %}

    <script src="{% static 'app/js/bootstrap.bundle.js' %}">

    </script>
</body>
</html>